<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <title>{{ base_context.admin_settings.market_name }}</title>
</head>

<body>
  <div class="flex-container">
    <nav class="primary-nav">
      <a class="nav-brand" href="/">{{ base_context.admin_settings.market_name }}</a>
      <div class="nav-items">
        <a class="" href="/about">About</a>
        <a class="" href="/top_sellers">Top Sellers</a>
        {% if base_context.user %}
        {% if base_context.admin_user %}
        <a class="" href="/view_pending_bounties">Pending Bounties{% if base_context.admin_info %} ({{ base_context.admin_info.num_pending_bounties }}){% endif %}</a>
        <a class="" href="/admin">Admin</a>
        {% else %}
        <a class="" href="/my_processing_cases">Cases{% if base_context.account_info %} ({{ base_context.account_info.num_unawarded_cases }}){% endif %}</a>
        <a class="" href="/account">@{{ base_context.user.email }}{% if base_context.account_info %} ({{ base_context.account_info.account_balance_sat_text }} sats){% endif %}</a>
        {% endif %}
        {% endif %}
        {% if not base_context.user %}
        <a class="" href="/signup">Sign up</a>
        <a class="btn" href="/login">Login</a>
        {% endif %}
      </div>
    </nav>
    <div style="text-align: center;">
      <br>
      {% block body %}
      {% endblock body %}
    </div>
  </div>
</body>
<footer id="footer" class="">
  satbounty is <a href="https://github.com/count-null/satbounty"><img src="/images/github.svg"></a> open oource
</footer>

</html>
