{% extends "base" %}
{% block body %}

{% include "search_form" %}

{% if not admin_user %}
<a href="/new_bounty">Add New Bounty</a>
{% endif %}

  <div class="container">
    <p><!--Nothing to see here --></p>

    <div class="row">
      <div class="twelve columns">
	{% include "bountytablepage" %}
      </div>
    </div>
  </div>


{% endblock body %}
