{% extends "base" %}
{% block body %}

<a href="/new_bounty">Add New Bounty</a>

  <div class="container">
    <p><!--Nothing to see here --></p>

    <div class="row">

      <h3>Deactivated Bounties</h3>

      <div class="twelve columns">
	{% include "bountytablepage" %}
      </div>
    </div>
  </div>


{% endblock body %}
