<ul>
  {% for case_message_card in case_message_cards %}

  <li>
    <a href="/case/{{case_message_card.case_public_id}}">
      <p>Message for case ID: {{ case_message_card.case_public_id }}</p>
    </a>
  </li>

  {% endfor %}
</ul>


<span>{% if page_num > 1 %}<a href="?page_num={{ page_num - 1 }}">Prev</a>{% else %}Prev{% endif %} - Page {{ page_num }} - <a href="?page_num={{ page_num + 1 }}">Next</a></span>
